body {
    background-color: sandybrown;
    font-family: "Libertinus Serif Display", system-ui;
}
footer {
    background-color: azure;
    color: antiquewhite;
    position: fixed;
    bottom:0 ;
    width: 100%;
}
footer p{
    text-align: center;
    font: 0.6rem;
    margin-top: 0.5rem;
}
